@import "../../assets/scss/color-theme";
@import "../../assets/scss/font-theme";

.not-found-page {
  background: url('../../assets/img/login-background.jpg') no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .panel {
    width: 900px;
    height: 50px;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px;
    font: bold 25px $montserrat;
    color: white;
    text-align: center;
  }
}
