.select-filter {
  width: 220px;
  height: 32px;
  background-color: white;
  font-size: 13px;
  margin-right: 10px;
  padding: 0 10px;
  border: 1px solid;
  border-radius: 3px;

  input {
    border: unset;
    width: calc(100% - 20px);
    text-transform: uppercase;
  }
}
