@import "color-theme";
@import "font-theme";

.mat-tab-label {
  opacity: 1 !important;
  height: 35px !important;
  font-weight: 700;
}

.mat-tab-label.mat-tab-label-active {
  background-color: $primary-color;
  color: white;
}

.mat-checkbox-inner-container {
  height: 15px !important;
  width: 15px !important;
}

.mat-list .mat-list-item .mat-list-item-content {
  padding: 0 !important;
}

.mat-tab-body-content {
  overflow: unset !important;
}

.mat-dialog-actions {
  margin-bottom: 10px !important;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

mat-toolbar {
  min-height: 10px !important;
}

mat-toolbar mat-toolbar-row {
  height: 50px !important;
}

.mat-menu-panel {
  max-width: none !important;
}

.mat-input-container label {
  color: $label;
}

.mat.input.container.mat-input-focused label {
  color: $label;
}

.mat-mini-fab .mat-button-wrapper {
  line-height: 10px !important;
}

.mat-menu-content {
  width: 350px;
}
