//$primary-color: #25af5f;
$primary-color: #9a0095;
$secondary-color: #151515;
$basic-color: #0275d8;
$success-color: #2ecc71;
$error-color: #a31313;
$warn-color: #ff5d00;
$disabled: #b0b0b0;
$dark-blue: #3f51b5;
$pdf-red: #da1f26;
$excel-green: #247c4c;
$shadow: rgba(0, 0, 0, 0.5);

/** Login */

$login-transparent-panel: rgba(20, 20, 20, 0.4);
$label: #626262;

/** Side Nav Tool Bar */

$sidenav-background-color: #2c2d2e;
$main-container-background: #1c1d1f;
$dir-label: #d8d8d8;
$divider: #8a8a8a;

/** Scroll Bar */

$scrollbar-background: #F5F5F5;
$scrollbar-shadow: rgba(0, 0, 0, 0.3);
$scrollbar-thumb: #555555;

/** Ag Grid */

$grid-hover: #eeeeee;
$grid-border-color: #e8e8e8;
$grid-data-change: #00acc1;
$grid-header-background: #151515;
$grid-cell-background: #fafafa;
$grid-range-selected: #e8eaf6;

/** Angular Material */

$primary-color-transparent-10: rgba(236, 29, 37, .1);
$primary-color-transparent-12: rgba(236, 29, 37, .12);
$primary-color-transparent-20: rgba(236, 29, 37, .2);
$primary-color-transparent-26: rgba(236, 29, 37, .26);
$primary-color-transparent-40: rgba(236, 29, 37, .4);
$primary-color-transparent-50: rgba(236, 29, 37, .5);

$error-color-transparent-10: rgba(244, 67, 54, .1);
$error-color-transparent-12: rgba(244, 67, 54, .12);
$error-color-transparent-20: rgba(244, 67, 54, .2);
$error-color-transparent-26: rgba(244, 67, 54, .26);
$error-color-transparent-40: rgba(244, 67, 54, .4);
$error-color-transparent-50: rgba(244, 67, 54, .5);
