@import "color-theme";

$Roboto: 'Roboto', Arial, sans-serif;
$montserrat: 'Montserrat', sans-serif;

/** Font Awesome */

.fa {
  cursor: pointer;
}

.fa-sm {
  font-size: 9px;
}

.fa-trash-o {
  color: $error-color;
}

.fa-trash-o.disabled {
  color: $disabled;
  cursor: auto;
}

.fa-refresh {
  color: $secondary-color;
}

.fa-refresh.disabled {
  color: $disabled;
  cursor: auto;
}
