@charset "UTF-8";

@font-face {
  font-family: "sficons";
  src: url("../fonts/sficons.eot");
  src: url("../fonts/sficons.eot?#iefix") format("embedded-opentype"),
  url("../fonts/sficons.woff") format("woff"),
  url("../fonts/sficons.ttf") format("truetype"),
  url("../fonts/sficons.svg#sficons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "sficons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sficons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-settings:before {
  content: "\62";
}

.icon-accounts:before {
  content: "\63";
}

.icon-add:before {
  content: "\64";
}

.icon-ais:before {
  content: "\65";
}

.icon-bell:before {
  content: "\67";
}

.icon-broker:before {
  content: "\68";
}

.icon-building:before {
  content: "\69";
}

.icon-boat:before {
  content: "\6a";
}

.icon-bunker:before {
  content: "\6b";
}

.icon-calculator-estimator:before {
  content: "\6c";
}

.icon-calendar:before {
  content: "\6d";
}

.icon-checkbox:before {
  content: "\6e";
}

.icon-clarity:before {
  content: "\6f";
}

.icon-trail:before {
  content: "\70";
}

.icon-hamburger:before {
  content: "\71";
}

.icon-gear-4:before {
  content: "\72";
}

.icon-gear-1:before {
  content: "\73";
}

.icon-gear-2:before {
  content: "\74";
}

.icon-gear-3:before {
  content: "\75";
}

.icon-fullscreen:before {
  content: "\76";
}

.icon-flipcamera:before {
  content: "\77";
}

.icon-eye:before {
  content: "\78";
}

.icon-customer:before {
  content: "\79";
}

.icon-excel:before {
  content: "\7a";
}

.icon-cross:before {
  content: "\41";
}

.icon-cloud:before {
  content: "\42";
}

.icon-home:before {
  content: "\43";
}

.icon-hourglass-2:before {
  content: "\44";
}

.icon-hourglass-1:before {
  content: "\45";
}

.icon-launch:before {
  content: "\46";
}

.icon-launchboat:before {
  content: "\47";
}

.icon-listing:before {
  content: "\48";
}

.icon-magnifying:before {
  content: "\49";
}

.icon-magnifying-2:before {
  content: "\4a";
}

.icon-management:before {
  content: "\4b";
}

.icon-owner:before {
  content: "\4c";
}

.icon-pdf:before {
  content: "\4d";
}

.icon-pdf-2:before {
  content: "\4e";
}

.icon-visibility:before {
  content: "\4f";
}

.icon-vessel:before {
  content: "\50";
}

.icon-value:before {
  content: "\51";
}

.icon-transparency:before {
  content: "\52";
}

.icon-standardization:before {
  content: "\53";
}

.icon-shipowner:before {
  content: "\54";
}

.icon-savings:before {
  content: "\56";
}

.icon-profile-2:before {
  content: "\57";
}

.icon-profile:before {
  content: "\58";
}

.icon-person:before {
  content: "\59";
}

.icon-speedometer:before {
  content: "\5a";
}

.icon-objective:before {
  content: "\31";
}

.icon-bunker2:before {
  content: "\61";
}

.icon-listing2:before {
  content: "\30";
}

.icon-cargo:before {
  content: "\32";
}

.icon-people:before {
  content: "\33";
}

.icon-arrowright:before {
  content: "\66";
}

.icon-user-admin:before {
  content: "\34";
}

.icon-fleet-management:before {
  content: "\36";
}

.icon-port:before {
  content: "\38";
}

.icon-morning:before {
  content: "\39";
}

.icon-seapassage:before {
  content: "\21";
}

.icon-companyadmin:before {
  content: "\35";
}

.icon-profile-round:before {
  content: "\37";
}

.icon-seamap-1:before {
  content: "\22";
}

.icon-listingadmin:before {
  content: "\55";
}

.icon-vesselarrow:before {
  content: "\23";
}
