<div class="grid-field">
  <span class="fa-stack fa-sm add-icon"><i class="fa fa-circle-o fa-stack-2x"></i><i class="fa fa-plus fa-stack-1x"></i></span>

  <ag-grid-angular
    class="ag-detail-material"
    [columnDefs]="columnDefs"
    [columnTypes]="columnTypes"
    [icons]="icons"
    headerHeight="25"
    rowHeight="25"
    [animateRows]="true"
    [suppressMovableColumns]="true"
    (gridReady)="onGridReady($event)"
    (gridSizeChanged)="onGridSizeChanged()"></ag-grid-angular>
</div>

