<mat-form-field [floatLabel]="floatLabel" class="full">
  <input matInput [matAutocomplete]="auto" placeholder="{{placeholder}}" [required]="fieldRequired" [formControl]="fieldFormControl">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option[itemDisplay]">
      <span>{{option[itemDisplay] | uppercase}}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
