@import "../../../assets/scss/color-theme";
@import "../../../assets/scss/font-theme";

.icon-panel {
  width: 100%;
  text-align: center;

  .fa {
    cursor: auto;
  }

  .success {
    color: $success-color;
  }

  .fail {
    color: $error-color;
  }

  .warning {
    color: $error-color;
  }

  .icon {
    color: white;
    text-shadow: 3px 3px 3px $shadow;
  }
}

.message-panel {
  font-family: $montserrat;
  text-align: center;

  .message-title {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.btn-red {
  color: $pdf-red;

  &:hover {
    background-color: $pdf-red;
    color: white;
  }
}

.btn-blue {
  color: $basic-color;

  &:hover {
    background-color: $basic-color;
    color: white;
  }
}
