<span mat-dialog-title class="fa-stack fa-3x icon-panel">
  <i class="fa fa-circle fa-stack-2x {{data.status}}"></i>
  <i class="fa {{data.status === 'success' ? 'fa-check' : data.status === 'fail' ? 'fa-times' : 'fa-question'}} fa-stack-1x icon"></i>
</span>

<div mat-dialog-content class="message-panel">
  <h1 class="message-title">{{data.status}}!</h1>
  <h5>{{data.message}}</h5>
</div>

<div mat-dialog-actions align="center">
  <button mat-raised-button class="basic-button btn-red" (click)="onClickClose()" *ngIf="data.status === 'warning'">CANCEL</button>
  <button mat-raised-button class="basic-button btn-blue" [mat-dialog-close]="true" *ngIf="data.status === 'warning'">YES</button>
  <button mat-raised-button class="basic-button btn-blue" (click)="onClickClose()" *ngIf="data.status !== 'warning'">OK</button>
</div>
