@import "../../../assets/scss/color-theme";
@import "../../../assets/scss/font-theme";

.action-bar {
  height: 50px !important;
  border-bottom: 2px solid $divider;
  background-color: white;

  .add-btn {
    color: $secondary-color;

    &:hover {
      background-color: $secondary-color;
      color: white;
    }
  }
}

h3 {
  margin-top: 0;
}

.panel {
  box-shadow: none !important;
  border-radius: 0;
  position: absolute;
  top: 112px;
  bottom: 0;
  padding: 10px 20px;
}

.left-panel {
  border-right: 2px solid $divider;
  width: 25em;
  overflow-y: auto;

  .sub-header {
    font-weight: bold;
    font-size: 15px;
  }
}

.right-panel {
  left: calc(25em + 42px);
  right: 0;
}

.card-item {
  box-shadow: none !important;
  border: 1px solid $divider;
  padding: 15px 15px 5px;
  margin-bottom: 15px;

  .field {
    height: 50px;
    font-size: 13px;
    background-color: transparent;
    padding: 0;
    width: 100%;

    .full {
      width: 100%;
    }

    .half {
      width: 48%;
    }

    .long {
      width: 63%;
    }

    .short {
      width: 33%;
    }
  }
}
