<mat-toolbar class="action-toolbar">
  <span class="fill-space"></span>

  <app-action-button
    [btnText]="'EMAIL'"
    [cssStyle]="'btn-black'"
    [fontAwesome]="'fa-envelope-o'"></app-action-button>

  <div class="separator"></div>

  <app-action-button
    [btnText]="'View'"
    [cssStyle]="'btn-black'"
    [fontAwesome]="'fa-eye'"></app-action-button>

  <div class="separator"></div>

  <app-action-button
    [btnText]="'Save'"
    [cssStyle]="'btn-black'"
    [fontAwesome]="'fa-floppy-o'"></app-action-button>
</mat-toolbar>

<mat-card class="panel left-panel">
  <form [formGroup]="detailForm">
    <h3>BASIC INFO</h3>

    <span class="sub-header">VOYAGE DETAILS</span>
    <mat-card class="card-item">
      <mat-toolbar class="field">
        <app-select-form-field
          class="long"
          [placeholder]="'VESSEL'"
          [fieldRequired]="true"
          [fieldFormControl]="detailForm.controls['vessel_id']"
          [arrayList]="vesselList"
          [itemValue]="'id'"
          [itemDisplay]="'name'"></app-select-form-field>

        <span class="fill-space"></span>

        <app-input-form-field
          class="short"
          [placeholder]="'VOY NO.'"
          [fieldFormControl]="detailForm.controls['voyage_number']"></app-input-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-port-form-field
          class="full"
          [placeholder]="'PORT'"
          [fieldRequired]="true"
          [fieldFormControl]="detailForm.controls['port']"
          [isPortSelected]="isPortSelected"
          (valueSelected)="onValueSelected($event)"></app-port-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-input-form-field
          class="full"
          [placeholder]="'PURPOSES'"
          [fieldFormControl]="detailForm.controls['purposes']"></app-input-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-date-form-field
          class="half"
          [placeholder]="'ETA'"
          [fieldRequired]="true"
          [fieldFormControl]="detailForm.controls['date_arrival']"></app-date-form-field>

        <span class="fill-space"></span>

        <app-date-form-field
          class="half"
          [placeholder]="'ETD'"
          [fieldRequired]="true"
          [fieldFormControl]="detailForm.controls['date_departure']"></app-date-form-field>
      </mat-toolbar>
    </mat-card>

    <span class="sub-header">AGENCY DETAILS</span>
    <mat-card class="card-item">
      <mat-toolbar class="field">
        <app-select-form-field
          class="full"
          [placeholder]="'AGENT NAME'"
          [fieldRequired]="true"
          [fieldFormControl]="detailForm.controls['agent_company_id']"
          [arrayList]="agentList"
          [itemValue]="'id'"
          [itemDisplay]="'name'"></app-select-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-select-form-field
          class="full"
          [placeholder]="'OWNER NAME'"
          [fieldRequired]="true"
          [fieldFormControl]="detailForm.controls['owner_company_id']"
          [arrayList]="ownerList"
          [itemValue]="'id'"
          [itemDisplay]="'name'"></app-select-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-select-form-field
          class="full"
          [placeholder]="'PIC NAME'"
          [fieldRequired]="true"
          [fieldFormControl]="detailForm.controls['pic_user_id']"
          [arrayList]="picList"
          [itemValue]="'id'"
          [itemDisplay]="'first_name'" [itemDisplaySmall]="'last_name'"></app-select-form-field>
      </mat-toolbar>
    </mat-card>

    <span class="sub-header">FINANCIAL</span>
    <mat-card class="card-item">
      <mat-toolbar class="field">
        <mat-toolbar class="field">
          <app-date-form-field
            class="half"
            [placeholder]="'EPDA DATE'"
            [fieldRequired]="true"
            [fieldFormControl]="detailForm.controls['date_epda']"></app-date-form-field>

          <span class="fill-space"></span>

          <app-date-form-field
            class="half"
            [placeholder]="'FDA DATE'"
            [fieldRequired]="true"
            [fieldFormControl]="detailForm.controls['date_fda']"></app-date-form-field>
        </mat-toolbar>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-input-form-field
          class="full"
          [placeholder]="'EX RATE.(@EPDA ISSUE DATE)'"
          [fieldFormControl]="detailForm.controls['ex_epda']"></app-input-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-input-form-field
          class="half"
          [placeholder]="'EPDA (SG$)'"
          [fieldFormControl]="detailForm.controls['sum_epda']"></app-input-form-field>

        <span class="fill-space"></span>

        <app-input-form-field
          class="half"
          [placeholder]="'EPDA (US$)'"
          [fieldFormControl]="detailForm.controls['sum_epda_us']"></app-input-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-input-form-field
          class="full"
          [placeholder]="'EX RATE.(@FDA - ATA/ATD AVE.)'"
          [fieldFormControl]="detailForm.controls['ex_fda']"></app-input-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-input-form-field
          class="half"
          [placeholder]="'FDA (SG$)'"
          [fieldFormControl]="detailForm.controls['sum_fda']"></app-input-form-field>

        <span class="fill-space"></span>

        <app-input-form-field
          class="half"
          [placeholder]="'FDA (US$)'"
          [fieldFormControl]="detailForm.controls['sum_fda_us']"></app-input-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-input-form-field
          class="full"
          [placeholder]="'BALANCE WITH DA MANAGEMENT (US$)'"
          [fieldFormControl]="detailForm.controls['da_balance']"></app-input-form-field>
      </mat-toolbar>
    </mat-card>
  </form>
</mat-card>

<mat-card class="panel right-panel">
  <mat-progress-bar mode="indeterminate" *ngIf="!isLoadData"></mat-progress-bar>
  <h3 *ngIf="isLoadData">DETAILED PORT CHARGES</h3>
  <app-port-expense-component *ngIf="isLoadData"></app-port-expense-component>
  <app-vessel-expense-component *ngIf="isLoadData"></app-vessel-expense-component>
  <app-renumeration-component *ngIf="isLoadData"></app-renumeration-component>
  <app-owner-account-component *ngIf="isLoadData"></app-owner-account-component>

  <mat-toolbar>
    <span class="fill-space"></span>
    <app-action-button [btnText]="'EPDA'" [cssStyle]="'btn-blue'"></app-action-button>
    <app-action-button [btnText]="'FDA'"  [cssStyle]="'btn-blue'"></app-action-button>
  </mat-toolbar>
</mat-card>
