@import "../../../assets/scss/font-theme";
@import "../../../assets/scss/color-theme";

.dialog-form {
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    font: bold 20px $montserrat;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
  }

  .field {
    height: 70px;
    font-size: 13px;
    background-color: transparent;
    padding: 0;
    width: 100%;

    .full {
      width: 100%;
    }

    .half {
      width: 48%;
    }

    .short {
      width: 30%;
    }
  }
}

.spacer {
  flex-grow: 1;
}
