<div mat-dialog-content class="dialog-form">
  <form [formGroup]="vesselForm">
    <mat-toolbar class="field">
      <span class="header">{{vesselForm.value.name ? vesselForm.value.name : 'NEW VESSEL'}}</span>
      <span class="fill-space"></span>
      <i class="fa fa-times" (click)="onClickClose()" matTooltip="Close"></i>
    </mat-toolbar>

    <mat-tab-group class="tab-panel" mat-stretch-tabs>
      <mat-tab label="BASIC INFO">
        <div mat-dialog-content>
          <mat-toolbar class="field">
            <app-select-form-field
              class="half"
              [placeholder]="'VESSEL OWNER'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['company_id']"
              [arrayList]="companyList"
              [itemValue]="'id'"
              [itemDisplay]="'name'"></app-select-form-field>

            <span class="fill-space"></span>

            <app-input-form-field
              class="half"
              [placeholder]="'VESSEL NAME'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['name']"></app-input-form-field>
          </mat-toolbar>

          <mat-toolbar class="field">
            <app-input-form-field
              class="short"
              [placeholder]="'DWT'"
              [type]="'number'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['dwt']"
              [unit]="'MT'"></app-input-form-field>

            <span class="fill-space"></span>

            <app-input-form-field
              class="short"
              [placeholder]="'LOA'"
              [type]="'number'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['loa']"
              [unit]="'M'"></app-input-form-field>

            <span class="fill-space"></span>

            <app-input-form-field
              class="short"
              [placeholder]="'BEAM'"
              [type]="'number'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['beam']"
              [unit]="'M'"></app-input-form-field>
          </mat-toolbar>

          <mat-toolbar class="field">
            <app-input-form-field
              class="short"
              [placeholder]="'DRAFT'"
              [type]="'number'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['draft']"
              [unit]="'M'"></app-input-form-field>

            <span class="fill-space"></span>

            <app-input-form-field
              class="short"
              [placeholder]="'SEGREGATIONS'"
              [type]="'number'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['seg']"></app-input-form-field>

            <span class="fill-space"></span>

            <app-select-form-field
              class="short"
              [placeholder]="'TANK COATING'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['coating']"
              [arrayList]="coatingList"
              [itemValue]="'id'"
              [itemDisplay]="'value'"></app-select-form-field>
          </mat-toolbar>

          <mat-toolbar class="field">
            <app-input-form-field
              class="short"
              [placeholder]="'CAPACITY'"
              [type]="'number'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['capacity']"
              [unit]="'M3'"></app-input-form-field>

            <span class="fill-space"></span>

            <app-date-form-field
              class="short"
              [placeholder]="'YEAR BUILT'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['built']"></app-date-form-field>

            <span class="fill-space"></span>

            <app-select-form-field
              class="short"
              [placeholder]="'CLASS'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['vessel_class']"
              [arrayList]="vesselClassList"
              [itemValue]="'id'"
              [itemDisplay]="'value'"></app-select-form-field>
          </mat-toolbar>

          <mat-toolbar class="field">
            <app-autocomplete-form-field
              class="half"
              [placeholder]="'FLAG'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['flag']"
              [arrayList]="countryList"
              [itemDisplay]="'name'"></app-autocomplete-form-field>

            <span class="fill-space"></span>

            <app-select-form-field
              class="half"
              [placeholder]="'VESSEL TYPE'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['type']"
              [arrayList]="vesselTypeList"
              [itemValue]="'id'"
              [itemDisplay]="'value'"></app-select-form-field>
          </mat-toolbar>
        </div>
      </mat-tab>

      <mat-tab label="VESSEL ID">
        <div mat-dialog-content>
          <mat-toolbar class="field">
            <app-date-form-field
              class="full"
              [placeholder]="'JOINED DATE'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['joined_at']"></app-date-form-field>
          </mat-toolbar>

          <mat-toolbar class="field">
            <app-input-form-field
              class="full"
              [placeholder]="'IMO NO.'"
              [type]="'number'"
              [fieldRequired]="true"
              [hintLabel]="'Required 7 characters'"
              [characterLength]="'7'"
              [fieldFormControl]="vesselForm.controls['imo']"></app-input-form-field>
          </mat-toolbar>

          <mat-toolbar class="field">
            <app-input-form-field
              class="full"
              [placeholder]="'MMSI NO.'"
              [type]="'number'"
              [fieldRequired]="true"
              [hintLabel]="'Required 9 characters'"
              [characterLength]="'9'"
              [fieldFormControl]="vesselForm.controls['mmsi']"></app-input-form-field>
          </mat-toolbar>

          <mat-toolbar class="field">
            <app-input-form-field
              class="full"
              [placeholder]="'CALL SIGN'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['call_sign']"></app-input-form-field>
          </mat-toolbar>

          <mat-toolbar class="field">
            <app-input-form-field
              class="full"
              [placeholder]="'GRT'"
              [type]="'number'"
              [fieldRequired]="true"
              [fieldFormControl]="vesselForm.controls['grt']"></app-input-form-field>
          </mat-toolbar>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>

  <div class="spacer"></div>

  <div mat-dialog-actions align="center">
    <app-action-button
      *ngIf="!data.id"
      [btnText]="'Add New Vessel'"
      [cssStyle]="'btn-blue'"
      [disabled]="vesselForm.invalid"
      (clickEvent)="onClickCreate()"></app-action-button>

    <app-action-button
      *ngIf="data.id"
      [btnText]="'Update Vessel'"
      [cssStyle]="'btn-blue'"
      [disabled]="vesselForm.invalid"
      (clickEvent)="onClickUpdate()"></app-action-button>
  </div>
</div>
