@import "../../../assets/scss/font-theme";
@import "../../../assets/scss/color-theme";

.full {
  width: 100%;
}

input {
  font: 100 13px $Roboto;
  text-transform: uppercase;
}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.right {
  text-align: right;
}
