<mat-form-field [floatLabel]="floatLabel" class="full" [hintLabel]="hintLabel">
  <input matInput #input [type]="type === 'password' ? hide ? 'password' : 'text' : type" class="quantity" placeholder="{{placeholder}}"
         [required]="fieldRequired" [formControl]="fieldFormControl" [ngClass]="textAlign">

  <span matPrefix *ngIf="prefix">{{prefix}}</span>
  <mat-icon matSuffix (click)="hide = !hide" *ngIf="type === 'password'">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  <span matSuffix *ngIf="unit">{{unit}}</span>

  <mat-hint align="end" *ngIf="characterLength">{{input.value?.length || 0}}/{{characterLength}}</mat-hint>

  <mat-error align="end" *ngIf="fieldFormControl.hasError('required')">Required</mat-error>
  <mat-error align="end" *ngIf="fieldFormControl.hasError('email')">Invalid Email</mat-error>
  <mat-error align="end" *ngIf="fieldFormControl.hasError('min')">Invalid Value</mat-error>
  <mat-error align="end" *ngIf="fieldFormControl.hasError('max')">Invalid Value</mat-error>
  <mat-error align="end" *ngIf="fieldFormControl.hasError('minlength')">{{hintLabel}}</mat-error>
  <mat-error align="end" *ngIf="fieldFormControl.hasError('MatchPassword')">The password is not match</mat-error>
</mat-form-field>
