@import "../../assets/scss/color-theme";
@import "../../assets/scss/font-theme";

.login-page {
  background: url('../../assets/img/login-background-blur.jpg') no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .version {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: white;
    font-size: 13px;
    font-family: $montserrat;
  }

  .container {
    width: 1100px;
    height: 430px;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .container-bg {
    background: url('../../assets/img/login-background.jpg') no-repeat center;
  }

  .login-container {
    padding: 0;
    background: linear-gradient(to right, $login-transparent-panel 0%, $login-transparent-panel 60%, white 60%, white 100%);

    .company-logo {
      width: 620px;
      position: absolute;
      left: 20px;
      bottom: 160px;
      border-bottom: 2px solid white;
      text-align: right;

      img {
        height: 90px;
      }
    }

    .header-panel {
      width: 620px;
      position: absolute;
      left: 20px;
      bottom: 25px;

      .header {
        font-size: 23px;
        color: white;
        text-align: right;
        font-weight: 100;
        margin: 0;
      }

      .header-bold {
        font-weight: bold;
        font-size: 35px;
      }

      .email {
        color: white;
        font-size: 15px;
        font-weight: 100;
        text-align: right;
      }
    }

    .input-panel {
      position: absolute;
      left: 685px;
      top: 20px;
      right: 29px;
      bottom: 25px;

      .margin-bottom {
        margin-bottom: 20px;
      }

      .contain-toolbar {
        background-color: transparent;
        font-size: 13px;
        padding: 0;
        height: auto;

        .project-logo {
          height: 80px;
        }

        .project-title {
          height: 90px;
          line-height: 90px;
          color: $primary-color;
          font-size: 23px;
          font-weight: bold;
        }

        .login {
          font-size: 16px;
          font-weight: bold;
          width: 100%;
          text-align: center;
        }

        .field {
          width: 100%;
          font-weight: bold;
        }

        .mat-raised-button {
          width: 130px;
          background-color: #9a0095;
          color: white;
          i {
            margin-left: 20px;
          }
        }
      }
    }
  }
}
