<div class="login-page">

  <div class="container container-bg"></div>

  <mat-card class="container login-container">
    <div class="company-logo">
      <img src="../../assets/img/app-logo.png">
    </div>

    <div class="header-panel">
      <!--<p class="header header-bold">CLOUD DA</p>-->
      <p class="header header-bold">AGGREGATED TUG SERVICE</p>
      <!--<p class="header">Smart Port Charge Platform</p>-->
      <p class="header">Towage Booking Platform</p>
      <!--<p class="email">mgt@baycrestmgt.com.sg</p>-->
      <p class="email">ats@sg-ams.com</p>
    </div>

    <div class="input-panel">
      <mat-toolbar class="contain-toolbar">
        <!--<span class="login">LOGIN</span>-->
        <span class="login">LOG IN</span>
      </mat-toolbar>

      <mat-toolbar class="contain-toolbar">
        <span class="fill-space"></span>
        <!--<img class="project-logo" src="../../assets/icons/logo.svg"/>-->
        <img class="project-logo" src="../../assets/icons/ATS%20Logo.png"/>
        <!--<span class="project-title">CLOUD-DA</span>-->
        <span class="project-title">AGGREGATED TUG SERVICE</span>
        <span class="fill-space"></span>
      </mat-toolbar>

      <mat-toolbar class="contain-toolbar">
        <mat-form-field appearance="outline" class="field">
          <mat-label>EMAIL</mat-label>
          <input matInput placeholder="Enter account e-mail address" [formControl]="ctrlEmail" required>
          <mat-error align="end" *ngIf="ctrlEmail.hasError('required')">Required</mat-error>
          <mat-error align="end" *ngIf="ctrlEmail.hasError('email')">Invalid Email Format</mat-error>
        </mat-form-field>
      </mat-toolbar>

      <mat-toolbar class="contain-toolbar">
        <mat-form-field appearance="outline" class="field">
          <mat-label>PASSWORD</mat-label>
          <input matInput placeholder="Please enter account password" [formControl]="ctrlPassword" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error align="end" *ngIf="ctrlPassword.hasError('required')">Required</mat-error>
        </mat-form-field>
      </mat-toolbar>

      <mat-toolbar class="contain-toolbar margin-bottom">
        <mat-checkbox color="primary" [formControl]="ctrlRemember">Remember me on this computer</mat-checkbox>
      </mat-toolbar>

      <mat-toolbar class="contain-toolbar">
        <button mat-raised-button color="primary" (click)="onClickLogin()" [disabled]="ctrlEmail.invalid || ctrlPassword.invalid || isLoginProcessing">Login
          <i *ngIf="!isLoginProcessing" class="fa fa-long-arrow-right"></i>
          <i *ngIf="isLoginProcessing" class="fa fa-spinner fa-pulse"></i>
        </button>

        <span class="fill-space"></span>

        <span>Copyright 2018. ShipsFocus</span>
      </mat-toolbar>
    </div>
  </mat-card>

  <span class="version">V 1.0.0</span>
</div>
