<div mat-dialog-content class="dialog-form">
  <form [formGroup]="companyForm">
    <mat-toolbar class="field">
      <span [style.color]="companyForm.value.color_code"
            [cpPosition]="'bottom'"
            [cpPositionOffset]="'50%'"
            [cpPositionRelativeToArrow]="true"
            [(colorPicker)]="companyForm.value.color_code"><i class="fa fa-square color-picker-icon"></i></span>

      <span class="header">{{companyForm.value.name ? companyForm.value.name : 'NEW COMPANY'}}</span>
      <span class="fill-space"></span>
      <i class="fa fa-times" (click)="onClickClose()" matTooltip="Close"></i>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-input-form-field
        class="half"
        [placeholder]="'COMPANY NAME'"
        [fieldRequired]="true"
        [fieldFormControl]="companyForm.controls['name']"></app-input-form-field>

      <span class="fill-space"></span>

      <app-select-form-field
        class="half"
        [placeholder]="'COMPANY TYPE'"
        [fieldRequired]="true"
        [fieldFormControl]="companyForm.controls['type_id']"
        [arrayList]="companyTypeList"
        [itemValue]="'id'"
        [itemDisplay]="'description'"></app-select-form-field>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-input-form-field
        class="half"
        [placeholder]="'REGISTRATION NO.'"
        [fieldRequired]="true"
        [fieldFormControl]="companyForm.controls['registration_number']"></app-input-form-field>

      <span class="fill-space"></span>

      <app-select-form-field
        class="half"
        [placeholder]="'COUNTRY'"
        [fieldRequired]="true"
        [fieldFormControl]="companyForm.controls['country_code']"
        [arrayList]="countryList"
        [itemValue]="'code'"
        [itemDisplay]="'name'"></app-select-form-field>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-port-form-field
        class="full"
        [placeholder]="'PORT'"
        [fieldRequired]="true"
        [fieldFormControl]="companyForm.controls['port']"
        [isPortSelected]="isPortSelected"
        (valueSelected)="onValueSelected($event)"></app-port-form-field>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-input-form-field
        class="full"
        [placeholder]="'WORK ADDRESS 1'"
        [fieldRequired]="true"
        [fieldFormControl]="companyForm.controls['address_1']"></app-input-form-field>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-input-form-field
        class="half"
        [placeholder]="'POSTAL CODE'"
        [fieldRequired]="true"
        [fieldFormControl]="companyForm.controls['postal_code']"></app-input-form-field>

      <span class="fill-space"></span>

      <app-input-form-field
        class="half"
        [placeholder]="'WORK PHONE'"
        [fieldFormControl]="companyForm.controls['phone_number']"></app-input-form-field>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-input-form-field
        class="half"
        [placeholder]="'DA FEE'"
        [type]="'number'"
        [prefix]="'US$'"
        [textAlign]="'right'"
        [fieldRequired]="true"
        [fieldFormControl]="companyForm.controls['da_fee']"></app-input-form-field>

      <span class="fill-space"></span>

      <app-input-form-field
        class="half"
        [placeholder]="'BALANCE DA'"
        [type]="'number'"
        [prefix]="'US$'"
        [textAlign]="'right'"
        [fieldRequired]="true"
        [fieldFormControl]="companyForm.controls['da_balance']"></app-input-form-field>
    </mat-toolbar>
  </form>
</div>

<div mat-dialog-actions align="center">
  <app-action-button
    *ngIf="!data.id"
    [btnText]="'Add New Company'"
    [cssStyle]="'btn-blue'"
    [disabled]="companyForm.invalid || !isPortSelected"
    (clickEvent)="onClickCreate()"></app-action-button>

  <app-action-button
    *ngIf="data.id"
    [btnText]="'Update Company'"
    [cssStyle]="'btn-blue'"
    [disabled]="companyForm.invalid || !isPortSelected"
    (clickEvent)="onClickUpdate()"></app-action-button>
</div>
