<mat-toolbar class="action-bar">
  <app-select-filter
    [placeholder]="'ALL STATUS'"
    [filterList]="statusFilterList"
    [filterGroup]="'status'"
    (filterChanged)="onFilterChange($event)"></app-select-filter>

  <app-select-filter
    [placeholder]="'ALL OWNERS'"
    [filterList]="ownerFilterList"
    [filterGroup]="'owner'"
    (filterChanged)="onFilterChange($event)"></app-select-filter>

  <app-select-filter
    [placeholder]="'ALL PORTS'"
    [filterList]="portFilterList"
    [filterGroup]="'port'"
    (filterChanged)="onFilterChange($event)"></app-select-filter>

  <span class="fill-space"></span>

  <app-action-button
    [btnText]="'Add New'"
    [stackAddIcon]="true"
    (clickEvent)="onClickAddNewNomination()"></app-action-button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="!isLoadData"></mat-progress-bar>

<ag-grid-angular
  *ngIf="isLoadData"
  class="ag-theme-material"
  [columnDefs]="columnDefs"
  [columnTypes]="columnTypes"
  [icons]="icons"
  headerHeight="36"
  rowHeight="32"
  [animateRows]="true"
  [pagination]="true"
  [paginationAutoPageSize]="true"
  [suppressMovableColumns]="true"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
  (gridSizeChanged)="onGridSizeChanged()"
  (rowDoubleClicked)="onRowDoubleClicked($event)"></ag-grid-angular>

