<div mat-dialog-content class="dialog-form">
  <form [formGroup]="epdaForm">
    <mat-toolbar class="field">
      <span class="header">NEW EPDA</span>
      <span class="fill-space"></span>
      <i class="fa fa-times" (click)="onClickClose()" matTooltip="Close"></i>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-select-form-field
        class="half"
        [placeholder]="'OWNER NAME'"
        [fieldRequired]="true"
        [fieldFormControl]="epdaForm.controls['owner_company_id']"
        [arrayList]="ownerList"
        [itemValue]="'id'"
        [itemDisplay]="'name'"
        (selectionChange)="onOwnerSelectionChange($event)"></app-select-form-field>

      <span class="fill-space"></span>

      <app-select-form-field
        class="half"
        [placeholder]="'PIC NAME'"
        [fieldRequired]="true"
        [fieldFormControl]="epdaForm.controls['pic_user_id']"
        [arrayList]="picList"
        [itemValue]="'id'"
        [itemDisplay]="'first_name'"
        [itemDisplaySmall]="'last_name'"></app-select-form-field>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-select-form-field
        class="half"
        [placeholder]="'VESSEL NAME'"
        [fieldRequired]="true"
        [fieldFormControl]="epdaForm.controls['vessel_id']"
        [arrayList]="vesselList"
        [itemValue]="'id'"
        [itemDisplay]="'name'"></app-select-form-field>

      <span class="fill-space"></span>

      <app-input-form-field
        class="half"
        [placeholder]="'VOYAGE NUMBER'"
        [fieldRequired]="true"
        [type]="'number'"
        [fieldFormControl]="epdaForm.controls['voyage_number']"></app-input-form-field>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-select-form-field
        class="half"
        [placeholder]="'AGENT NAME'"
        [fieldRequired]="true"
        [fieldFormControl]="epdaForm.controls['agent_company_id']"
        [arrayList]="agentList"
        [itemValue]="'id'"
        [itemDisplay]="'name'"></app-select-form-field>

      <span class="fill-space"></span>

      <app-port-form-field
        class="half"
        [placeholder]="'PORT OF CALL'"
        [fieldRequired]="true"
        [fieldFormControl]="epdaForm.controls['port']"
        [isPortSelected]="isPortSelected"
        (valueSelected)="onValueSelected($event)"></app-port-form-field>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-date-form-field
        class="half"
        [placeholder]="'ETA'"
        [fieldRequired]="true"
        [fieldFormControl]="epdaForm.controls['date_arrival']"></app-date-form-field>

      <span class="fill-space"></span>

      <app-date-form-field
        class="half"
        [placeholder]="'ETD'"
        [fieldRequired]="true"
        [fieldFormControl]="epdaForm.controls['date_departure']"></app-date-form-field>
    </mat-toolbar>
  </form>

  <mat-toolbar class="checkbox-field">
    <section>
      <h6>PURPOSE OF CALL </h6>
      <mat-checkbox color="primary" class="checkbox-item" [(ngModel)]="checkBoxList['bunker']">BUNKERING</mat-checkbox>
      <mat-checkbox color="primary" class="checkbox-item" [(ngModel)]="checkBoxList['cargo']">CARGO OPS</mat-checkbox>
      <mat-checkbox color="primary" class="checkbox-item" [(ngModel)]="checkBoxList['crew']">CREW CHANGE</mat-checkbox>
      <mat-checkbox color="primary" class="checkbox-item" [(ngModel)]="checkBoxList['other']">OTHER OPS</mat-checkbox>
    </section>
  </mat-toolbar>
</div>

<div mat-dialog-actions align="center">
  <app-action-button
    [btnText]="'Add New EPDA'"
    [cssStyle]="'btn-blue'"
    [disabled]="epdaForm.invalid || !isPortSelected"
    (clickEvent)="onClickCreate()"></app-action-button>
</div>
