@import "../../../assets/scss/color-theme";
@import "../../../assets/scss/font-theme";

.action-bar {
  height: 50px !important;
  border-bottom: 2px solid $divider;
  background-color: white;

  .add-btn {
    color: $secondary-color;

    &:hover {
      background-color: $secondary-color;
      color: white;
    }
  }
}

ag-grid-angular {
  width: 100%;
  height: calc(100% - 114px);
}
