<mat-toolbar class="action-bar">
  <app-select-filter
    [placeholder]="'ALL COMPANY TYPES'"
    [filterList]="typeFilterList"
    [filterGroup]="'type'"
    (filterChanged)="onFilterChange($event)"></app-select-filter>

  <app-text-filter
    [placeholder]="'Search Company'"
    [filterGroup]="'name'"
    (filterChanged)="onFilterChange($event)"></app-text-filter>

  <span class="fill-space"></span>

  <app-action-button
    [btnText]="'Add New'"
    [stackAddIcon]="true"
    (clickEvent)="onClickAddNewCompany()"></app-action-button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="!isLoadData"></mat-progress-bar>

<ag-grid-angular
  *ngIf="isLoadData"
  class="ag-theme-material"
  [columnDefs]="columnDefs"
  [columnTypes]="columnTypes"
  [icons]="icons"
  headerHeight="36"
  rowHeight="32"
  [animateRows]="true"
  [pagination]="true"
  [paginationAutoPageSize]="true"
  [suppressMovableColumns]="true"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
  (gridSizeChanged)="onGridSizeChanged()"
  (rowDoubleClicked)="onRowDoubleClicked($event)"></ag-grid-angular>

