<div mat-dialog-content class="dialog-form">
  <form [formGroup]="expenseForm">
    <mat-toolbar class="field">
      <span class="header">PORT EXPENSE LIST</span>
      <span class="fill-space"></span>
      <i class="fa fa-times" (click)="onClickClose()" matTooltip="Close"></i>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-select-form-field
        class="full"
        [placeholder]="'EXPENSE CATEGORY'"
        [fieldRequired]="true"
        [fieldFormControl]="expenseForm.controls['id']"
        [arrayList]="categoryList"
        [itemValue]="'code'"
        [itemDisplay]="'description'"></app-select-form-field>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-input-form-field
        class="full"
        [placeholder]="'NAME OF PORT EXPENSE'"
        [fieldRequired]="true"
        [fieldFormControl]="expenseForm.controls['description']"></app-input-form-field>
    </mat-toolbar>
  </form>
</div>

<div mat-dialog-actions align="center">
  <app-action-button
    *ngIf="!data.data.id"
    [btnText]="'Add New Expense List'"
    [cssStyle]="'btn-blue'"
    [disabled]="expenseForm.invalid"
    (clickEvent)="onClickCreate()"></app-action-button>

  <app-action-button
    *ngIf="data.data.id"
    [btnText]="'Update Expense List'"
    [cssStyle]="'btn-blue'"
    [disabled]="expenseForm.invalid"
    (clickEvent)="onClickUpdate()"></app-action-button>
</div>
