@import "../../../assets/scss/color-theme";
@import "../../../assets/scss/font-theme";

.basic-button {
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 130px;
  margin-left: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  i {
    margin: 0 10px 3px 0;
  }
}

.btn-black {
  color: $secondary-color;

  &:hover {
    background-color: $secondary-color;
    color: white;
  }
}

.btn-green {
  color: $excel-green;

  &:hover {
    background-color: $excel-green;
    color: white;
  }
}

.btn-red {
  color: $pdf-red;

  &:hover {
    background-color: $pdf-red;
    color: white;
  }
}

.btn-blue {
  color: $basic-color;

  &:hover {
    background-color: $basic-color;
    color: white;
  }
}
