<button mat-raised-button class="basic-button" [ngClass]="cssStyle" [disabled]="disabled" (click)="onClickEvent()">
  <span class="fa-stack fa-sm" *ngIf="stackAddIcon"><i class="fa fa-circle-o fa-stack-2x"></i><i class="fa fa-plus fa-stack-1x"></i></span>
  <i class="fa" [ngClass]="fontAwesome" *ngIf="!stackAddIcon && fontAwesome"></i>
  {{btnText}}
</button>
