@import "../../../assets/scss/color-theme";
@import "../../../assets/scss/font-theme";

.container {
  margin: 30px;

  form {
    width: 553px;
    text-align: right;

    .field {
      height: 70px;
      font-size: 13px;
      background-color: transparent;
      padding: 0;
      width: 100%;

      .full {
        width: 100%;
      }

      .half {
        width: 48%;
      }
    }
  }
}
