<mat-tab-group class="container" dynamicHeight="true">
  <mat-tab label="COMPANY PROFILE">
    <form [formGroup]="companyForm">
      <mat-toolbar class="field">
        <app-input-form-field
          class="half"
          [placeholder]="'COMPANY REGISTRATION NUMBER'"
          [fieldFormControl]="companyForm.controls['registration_number']"></app-input-form-field>

        <span class="fill-space"></span>

        <app-input-form-field
          class="half"
          [placeholder]="'COMPANY NAME'"
          [fieldFormControl]="companyForm.controls['name']"></app-input-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-input-form-field
          class="full"
          [placeholder]="'WORK ADDRESS 1'"
          [fieldFormControl]="companyForm.controls['address_1']"></app-input-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-input-form-field
          class="full"
          [placeholder]="'WORK ADDRESS 2'"
          [fieldFormControl]="companyForm.controls['address_2']"></app-input-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-input-form-field
          class="half"
          [placeholder]="'BUILDING'"
          [fieldFormControl]="companyForm.controls['building']"></app-input-form-field>

        <span class="fill-space"></span>

        <app-input-form-field
          class="half"
          [placeholder]="'POSTAL CODE'"
          [fieldFormControl]="companyForm.controls['postal_code']"></app-input-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-input-form-field
          class="full"
          [placeholder]="'COUNTRY'"
          [fieldFormControl]="companyForm.controls['country_code']"></app-input-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-input-form-field
          class="full"
          [placeholder]="'WORK PHONE'"
          [fieldFormControl]="companyForm.controls['phone_number']"></app-input-form-field>
      </mat-toolbar>
    </form>
  </mat-tab>

  <mat-tab label="PIC PROFILE">
    <form [formGroup]="userForm">
      <mat-toolbar class="field">
        <app-input-form-field
          class="half"
          [placeholder]="'FIRST NAME'"
          [fieldFormControl]="userForm.controls['first_name']"></app-input-form-field>

        <span class="fill-space"></span>

        <app-input-form-field
          class="half"
          [placeholder]="'LAST NAME'"
          [fieldFormControl]="userForm.controls['last_name']"></app-input-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-input-form-field
          class="full"
          [placeholder]="'EMAIL ADDRESS'"
          [fieldFormControl]="userForm.controls['email']"></app-input-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-select-form-field
          class="half"
          [placeholder]="'PHONE COUNTRY CODE'"
          [fieldRequired]="true"
          [fieldFormControl]="userForm.controls['phone_country_code']"
          [arrayList]="countryList"
          [itemValue]="'dial_code'"
          [itemDisplay]="'dial_code'"
          [itemDisplaySmall]="'name'"></app-select-form-field>

        <span class="fill-space"></span>

        <app-input-form-field
          class="half"
          [type]="'number'"
          [placeholder]="'MOBILE NUMBER'"
          [fieldRequired]="true"
          [fieldFormControl]="userForm.controls['phone_number']"></app-input-form-field>
      </mat-toolbar>

      <app-action-button
        [btnText]="'Update'"
        [cssStyle]="'btn-blue'"
        [fontAwesome]="'fa-pencil'"
        [disabled]="userForm.invalid"
        (clickEvent)="onClickUpdatePICProfile()"></app-action-button>
    </form>
  </mat-tab>

  <mat-tab label="CHANGE PASSWORD">
    <form [formGroup]="passwordForm">
      <mat-toolbar class="field">
        <app-input-form-field
          class="full"
          [type]="'password'"
          [placeholder]="'CURRENT PASSWORD'"
          [fieldRequired]="true"
          [hintLabel]="'Min. 8 characters'"
          [fieldFormControl]="passwordForm.controls['old_password']"></app-input-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-input-form-field
          class="full"
          [type]="'password'"
          [placeholder]="'NEW PASSWORD'"
          [fieldRequired]="true"
          [hintLabel]="'Min. 8 characters'"
          [fieldFormControl]="passwordForm.controls['new_password']"></app-input-form-field>
      </mat-toolbar>

      <mat-toolbar class="field">
        <app-input-form-field
          class="full"
          [type]="'password'"
          [placeholder]="'CONFIRM NEW PASSWORD'"
          [fieldRequired]="true"
          [hintLabel]="'Min. 8 characters'"
          [fieldFormControl]="passwordForm.controls['confirm_password']"></app-input-form-field>
      </mat-toolbar>

      <app-action-button
        [btnText]="'Update'"
        [cssStyle]="'btn-blue'"
        [fontAwesome]="'fa-pencil'"
        [disabled]="passwordForm.invalid"
        (clickEvent)="onClickUpdatePassword()"></app-action-button>
    </form>
  </mat-tab>
</mat-tab-group>
