<mat-toolbar class="action-bar">
  <app-select-filter
  [placeholder]="'ALL VESSELS'"
  [filterList]="vesselFilterList"
  [filterGroup]="'vessel'"
  [itemDisplay]="'name'"
  (filterChanged)="onFilterChange($event)"></app-select-filter>

  <app-select-filter
    [placeholder]="'ALL OWNERS'"
    [filterList]="ownerFilterList"
    [filterGroup]="'owner'"
    [itemDisplay]="'name'"
    (filterChanged)="onFilterChange($event)"></app-select-filter>
</mat-toolbar>

<div id="sea-map"></div>
