<mat-form-field [floatLabel]="floatLabel" class="full">
<input matInput [matDatepicker]="picker" placeholder="{{placeholder}}" [required]="fieldRequired" [formControl]="fieldFormControl">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker disabled="false"></mat-datepicker>
</mat-form-field>
