@import "../../assets/scss/color-theme";

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sidebar-panel {
    background-color: $sidenav-background-color;
    min-width: 0 !important;
    width: 65px;

    img {
      width: 70%;
      margin: 10px 15% 30px 15%;
    }

    a {
      color: white;
      text-decoration: none;
      line-height: 25px;
      font-size: 33px;
    }

    a:hover {
      background-color: $primary-color;
    }

    a.router-link-active {
      background-color: $primary-color;
    }
  }

  .main-container {
    margin-left: 65px !important;
    background-color: white;

    .navbar {
      height: 62px;
      color: $dir-label;
      font-size: 17px;
      background-color: $sidenav-background-color;
      text-transform: uppercase;

      .dir {
        margin-right: 15px;
      }

      .current {
        color: $primary-color;
      }

      .username {
        margin-right: 15px;
      }
    }
  }
}
