<mat-sidenav-container class="sidebar">
  <mat-sidenav mode="side" opened class="sidebar-panel" (keydown.escape)="null" disableClose>
    <!--<img src="../../assets/icons/logo.svg">-->
    <img src="../../assets/icons/ATS%20Logo.png">
    <mat-nav-list>
      <a mat-list-item routerLink="/company" [routerLinkActive]="['router-link-active']" matTooltip="Company">
        <i class="icon-companyadmin"></i>
      </a>
      <a mat-list-item routerLink="/admin" [routerLinkActive]="['router-link-active']" matTooltip="User Admin">
        <i class="icon-user-admin"></i>
      </a>
      <a mat-list-item routerLink="/vessel" [routerLinkActive]="['router-link-active']" matTooltip="Fleet Management">
        <i class="icon-fleet-management"></i>
      </a>
      <a mat-list-item routerLink="/expense-list" [routerLinkActive]="['router-link-active']" matTooltip="Port Expense List">
        <i class="icon-listingadmin"></i>
      </a>
      <a mat-list-item routerLink="/nomination-list" [routerLinkActive]="['router-link-active']" matTooltip="Nomination List">
        <i class="icon-listing"></i>
      </a>
      <a mat-list-item routerLink="/tracking" [routerLinkActive]="['router-link-active']" matTooltip="Tracking">
        <i class="icon-seamap-1"></i>
      </a>
      <a mat-list-item routerLink="/profile" [routerLinkActive]="['router-link-active']" matTooltip="Profile">
        <i class="icon-profile-round"></i>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="main-container">
    <mat-toolbar class="navbar">
      <span class="dir">Baycrest</span>
      <span class="dir">></span>
      <span class="dir" *ngIf="getDirectory()">{{getDirectory()}}</span>
      <span class="dir" *ngIf="getDirectory()">></span>
      <span class="current">{{getCurrentDirectory()}}</span>

      <span class="fill-space"></span>

      <span class="username">{{username}}</span>
      <i class="fa fa-power-off" [routerLink]="['/login']" (click)="onClickLogout()"></i>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
