@import "../../../../assets/scss/color-theme";
@import "../../../../assets/scss/font-theme";

.grid-field {
  height: 19%;
  margin-top: 15px;

  .add-icon {
    position: absolute;
    z-index: 99;
    margin-top: 5px;
    left: 25px;
  }

  ag-grid-angular {
    width: 100%;
    height: 100%;
    border: 1px solid $divider;
  }
}

