<div class="select-filter">
  <mat-select [(ngModel)]="filterItem" (selectionChange)="onFilterList($event)">

    <mat-option [value]="''">
      {{placeholder}}
    </mat-option>

    <mat-option *ngFor="let item of filterList" [value]="item[itemValue]">
      {{item[itemDisplay] | uppercase}}
    </mat-option>

  </mat-select>
</div>
