@import "../../../assets/scss/font-theme";
@import "../../../assets/scss/color-theme";

.full {
  width: 100%;
}

input {
  font: 100 13px $Roboto;
  text-transform: uppercase;
}

.error {
  color: $error-color;
}
