<mat-form-field [floatLabel]="floatLabel" class="full">
  <input matInput [matAutocomplete]="auto" placeholder="{{placeholder}}" [required]="fieldRequired" [formControl]="fieldFormControl" (input)="onInputPortName($event)">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option['port']">
      <span>{{option['port'] | uppercase}}</span>
    </mat-option>
  </mat-autocomplete>
  <span matSuffix *ngIf="!isPortSelected" class="error">Select a Port</span>
</mat-form-field>
