@import "../../../assets/scss/color-theme";
@import "../../../assets/scss/font-theme";

.separator {
  border: 1px solid $label;
  height: 24px;
  margin: 0 5px 0 10px;
}

ag-grid-angular {
  width: 100%;
  height: calc(100% - 114px);
}
