<mat-toolbar class="action-toolbar">
  <app-select-filter
    [placeholder]="'ALL OWNERS'"
    [filterList]="ownerFilterList"
    [filterGroup]="'company_id'"
    (filterChanged)="onFilterChange($event)"></app-select-filter>

  <app-text-filter
    [placeholder]="'Search Vessel'"
    [filterGroup]="'vessel'"
    (filterChanged)="onFilterChange($event)"></app-text-filter>

  <span class="fill-space"></span>

  <app-action-button
    [btnText]="'EMAIL'"
    [cssStyle]="'btn-black'"
    [fontAwesome]="'fa-envelope-o'"
    (clickEvent)="onClickEmail()"></app-action-button>

  <div class="separator"></div>

  <app-action-button
    [btnText]="'EXCEL'"
    [cssStyle]="'btn-green'"
    [fontAwesome]="'fa-file-excel-o'"
    (clickEvent)="onClickExcel()"></app-action-button>

  <app-action-button
    [btnText]="'PDF'"
    [cssStyle]="'btn-red'"
    [fontAwesome]="'fa-file-pdf-o'"
    (clickEvent)="onClickPDF()"></app-action-button>

  <div class="separator"></div>

  <app-action-button
    [btnText]="'Add New'"
    [stackAddIcon]="true"
    (clickEvent)="onClickAddNewVessel()"></app-action-button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="!isLoadData"></mat-progress-bar>

<ag-grid-angular
  *ngIf="isLoadData"
  class="ag-theme-material"
  [columnDefs]="columnDefs"
  [columnTypes]="columnTypes"
  [icons]="icons"
  headerHeight="36"
  rowHeight="32"
  [animateRows]="true"
  [pagination]="true"
  [paginationAutoPageSize]="true"
  [suppressMovableColumns]="true"
  (gridReady)="onGridReady($event)"
  (cellClicked)="onCellClicked($event)"
  (gridSizeChanged)="onGridSizeChanged()"
  (rowDoubleClicked)="onRowDoubleClicked($event)">

</ag-grid-angular>
