@import "assets/scss/am-theme";
@import "assets/scss/am-theme-sub";
@import "assets/scss/color-theme";
@import "assets/scss/font-theme";
@import "assets/scss/icons.css";
@import "assets/scss/ag-theme-material";
@import "assets/scss/ag-detail-material";
@import "assets/scss/global";
@import "assets/scss/picker";

@media screen and (max-width: 1590px) {
  body {
    zoom: 75%
  }
}

::-webkit-scrollbar {
  width: 6px;
  background-color: $scrollbar-background;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px $scrollbar-shadow;
  border-radius: 10px;
  background-color: $scrollbar-background;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px $scrollbar-shadow;
  background-color: $scrollbar-thumb;
}

.ag-body-viewport {
  overflow-x: hidden;
}
