<div mat-dialog-content class="dialog-form">
  <form [formGroup]="userForm">
    <mat-toolbar class="field">
      <span class="header">{{userForm.value.first_name && userForm.value.last_name ? userForm.value.first_name + ' ' + userForm.value.last_name : 'NEW USER'}}</span>
      <span class="fill-space"></span>
      <i class="fa fa-times" (click)="onClickClose()" matTooltip="Close"></i>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-input-form-field
        class="half"
        [placeholder]="'FIRST NAME'"
        [fieldRequired]="true"
        [fieldFormControl]="userForm.controls['first_name']"></app-input-form-field>

      <span class="fill-space"></span>

      <app-input-form-field
        class="half"
        [placeholder]="'LAST NAME'"
        [fieldRequired]="true"
        [fieldFormControl]="userForm.controls['last_name']"></app-input-form-field>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-input-form-field
        class="full"
        [placeholder]="'E-MAIL'"
        [fieldRequired]="true"
        [fieldFormControl]="userForm.controls['email']"></app-input-form-field>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-select-form-field
        class="half"
        [placeholder]="'CODE'"
        [fieldRequired]="true"
        [fieldFormControl]="userForm.controls['phone_country_code']"
        [arrayList]="countryList"
        [itemValue]="'dial_code'"
        [itemDisplay]="'dial_code'"
        [itemDisplaySmall]="'name'"></app-select-form-field>

      <span class="fill-space"></span>

      <app-input-form-field
        class="half"
        [type]="'number'"
        [placeholder]="'MOBILE NO.'"
        [fieldRequired]="true"
        [fieldFormControl]="userForm.controls['phone_number']"></app-input-form-field>
    </mat-toolbar>

    <mat-toolbar class="field">
      <app-select-form-field
        class="half"
        [placeholder]="'COMPANY NAME'"
        [fieldRequired]="true"
        [fieldFormControl]="userForm.controls['company_id']"
        [arrayList]="companyList"
        [itemValue]="'id'"
        [itemDisplay]="'name'"></app-select-form-field>

      <span class="fill-space"></span>

      <app-select-form-field
        class="half"
        [placeholder]="'USER ROLE'"
        [fieldRequired]="true"
        [fieldFormControl]="userForm.controls['role_id']"
        [arrayList]="roleList"
        [itemValue]="'id'"
        [itemDisplay]="'description'"></app-select-form-field>
    </mat-toolbar>
  </form>
</div>

<div mat-dialog-actions align="center">
  <app-action-button
    *ngIf="!data.id"
    [btnText]="'Add New User'"
    [cssStyle]="'btn-blue'"
    [disabled]="userForm.invalid"
    (clickEvent)="onClickCreate()"></app-action-button>

  <app-action-button
    *ngIf="data.id"
    [btnText]="'Update User'"
    [cssStyle]="'btn-blue'"
    [disabled]="userForm.invalid"
    (clickEvent)="onClickUpdate()"></app-action-button>
</div>
