<mat-form-field [floatLabel]="floatLabel" class="full">
  <mat-select placeholder="{{placeholder}}" [required]="fieldRequired" [formControl]="fieldFormControl" (selectionChange)="onSelectionChange($event)">
    <mat-option *ngFor="let item of arrayList" [value]="item[itemValue]">
      <span>{{item[itemDisplay] | uppercase}} <small *ngIf="itemDisplaySmall">{{item[itemDisplaySmall] | uppercase}}</small></span>
    </mat-option>
  </mat-select>
  <mat-error align="end" *ngIf="fieldFormControl.hasError('required')">Required</mat-error>
</mat-form-field>
